.navBar-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-self: flex-start;
    padding-left: 140px;
}

.navBar-inputs{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.navBar-left{
    display: flex;
    flex-direction: row;
    margin: 0 10px;
}

.navBar-right{
    padding-right: 120px;
}

